<div id="post-bar">
    <div class="dropdown-container">
        <button class="btn btn-primary" (click)="toggleDropdown()" id="dropdown-button">post</button>
        <div class="dropdown-content" id="dropdown-content" [style.display]="isDropdownOpen ? 'block' : 'none'">
            <form>
                <input class="form-control" type="text" id="title" placeholder="title" [(ngModel)]="formData.title" name="title" required><input class="form-control" type="file" id="picture" [(ngModel)]="formData.picture" name="picture" accept="image/*" >

                <textarea class="form-control" id="description" name="description" rows="4" placeholder="Whats in you heart" [(ngModel)]="formData.description" required></textarea>

                <button type="submit" class="btn btn-success" id="post_submit" (click)="submitForm()">Submit</button>
            </form>
        </div>
    </div>
</div>
<br><br><br>
<!-- scrollable-and showing posts on screen -->
<div class="container mt-4" (scroll)="onScroll()" [hidden]="isDropdownOpen">
        <div class="row">
            <div class="col-12">
                <div  *ngFor="let item of data" class="card mb-4">
                    <img class="card-img-top" src="{{item.picture}}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Title:{{ item.title }}</h5>
                        <small class="text-muted">Created By:{{ item.username }}</small>
                        <p class="card-text">{{ item.content }}</p>
                        <!-- <button class="btn btn-primary">Discussion Box</button> -->
                    </div>
                </div>
            </div>
        </div>
</div>

