/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
#post-bar{
    background-color: rgb(184, 19, 27);
}
.dropdown-container {
    position: absolute;
    top: 20px;
    right: 20px; /* Adjust this to change the position to the right */
    width: 300px; /* Adjust the width of the dropdown-container */
    
}

#dropdown-button {
    width: 100px; /* Adjust the width when hovering */
}
#dropdown-content{
    width:800px;
}
#title,#picture,#description{
    width: 600px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(209, 188, 179);
}
#title:hover{
    width: 600px;
    margin: auto;
    border-radius: 10px;
    background-color: #f9f9f9;
}
#picture:hover{
    width: 600px;
    margin: auto;
    border-radius: 10px;
    background-color: #f9f9f9;
}
#description:hover{
    width: 600px;
    margin: auto;
    border-radius: 10px;
    background-color: #f9f9f9;
}
#post_submit{
align-self: center;
size: 100px;
margin-left: 100px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    border-radius: 1cm;
    background-color: rgb(233, 189, 173);
}
