/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
// #post-bar{
//     background-color: rgb(184, 19, 27);
// }
.dropdown-container {
    position: fixed;
    top: 60px;
    left: 80%; /* Adjust this to change the position to the right */
    width: 10%; /* Adjust the width of the dropdown-container */
    z-index: 1;
    
}
form {
    margin: 3% !important;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 80%;
  }

  .card-body {
    width: 100%;
  }


#dropdown-button {
    width: 100%; /* Adjust the width when hovering */
    height: 20%;
    text-align: center;
}
#dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px; /* Increase the min-width to make it wider */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    border-radius: 1cm;
    background-color: rgb(247, 244, 243);
}
#title,#picture,#description{
    width: 100%;
    margin: auto;
    border-radius: 10px;
    // background-color: rgb(209, 188, 179);
}
#title:hover{
    margin: auto;
    border-radius: 10px;
    background-color: #f9f9f9;
}
#picture:hover{

    margin: auto;
    border-radius: 10px;
    background-color: #f9f9f9;
}
#description:hover{
    margin: auto;
    border-radius: 10px;
    background-color: #f9f9f9;
}
#post_submit{
align-self: center;
size: 10px;
width:100px;
margin-left: 100px;
}
.dropdown-content {
    display: none;
    position: absolute;
    // background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    border-radius: 1cm;
    background-color: rgb(247, 244, 243);
}
/* Add this to your CSS file */
.custom-card {
    display: flex;
    flex-direction: column;
    width: 100%; /* Card will take the full width of the container */
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the card horizontally */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 20px;
}

.custom-card:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    transition-duration: 500ms;
    transition-property: box-shadow;
}
