<!-- <div class="profile-container">
    <img [src]="profilePicture" alt="Profile Picture" class="profile-picture">
    <span class="profile-name">{{ userName }}</span>
  </div> -->


<!--feed posts-->
<div style="padding-top: 80px;">
  <div class="center-text-container">
    <h1>Your Posts</h1>
  </div>

  <div class="container mt-5" (scroll)="onScroll()">

    <div class="col-12" style="max-height: 300px; overflow: scroll;">
      <div *ngIf="feed_posts.length > 0; else noDataMessage">
        <!-- <button class="btn btn-primary">Discussion Box</button> -->
        <div *ngFor="let item of feed_posts" class="card mb-4 custom-card">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img class="card-img" [src]="item.image" alt="" style="padding: 3%; height: -webkit-fill-available; height: -moz-available;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.content }}</p>
                <button class="btn btn-primary m-1" (click)="toggleDiscussionBox(myModal, item)">Discussion Box</button>
                <button class="btn btn-secondary" disabled>Edit</button>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="postLoader" style="height: 300px;" class="text-center mt-3">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <ng-template #noDataMessage>
        <div class="text-center mt-3" *ngIf="!postLoader">
          <h5>No posts found</h5>
        </div>
      </ng-template>
    </div>

<ng-template #myModal let-modal >
  <div class="modal-header">
    <h4 class="modal-title">Discussion Box</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center" *ngIf="commentsLoader">
        <div class="spinner-border m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <ng-container *ngFor="let comment of comments">
        <div class="justify-content-between">
            <small class="text-muted m-1">Created By: {{comment.username}}</small>
            <small class="text-muted m-1">Created on: {{comment.createdAt}}</small>
        </div>
        <p>
            {{comment.content}}
        </p><hr>
    </ng-container>
    <ng-container *ngIf="!comments.length && !commentsLoader ">
        <small class="text-muted">Nothing happened here!. <br> Start the Discussion by adding a comment</small>
    </ng-container>
  </div>
  <div class="modal-footer justify-content-between">
    <input type="text" class="width-70" id="comment-text" autocomplete="off" [(ngModel)]="commentText">
    <button class="button btn btn-primary pt-10 pb-10" (click)="submitComment()" [disabled]="commentsBtnLoader">Add comment 
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="commentsBtnLoader"></span>
    </button>
  </div>
</ng-template>



    <!--market list-->
    <br><br>
    <div class="center-text-container">
      <h1>Tools you Listed</h1>
    </div>

    <div class="container mt-4" style="max-height: 300px; overflow-y: scroll;">
      <div *ngIf="marketPosts.length > 0; else noData2Message">
        <div *ngFor="let post of marketPosts; let i = index" class="card mb-4">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img [src]="post.image" class="card-img" alt="Post Image" style="padding: 3%; height: -webkit-fill-available; height: -moz-available;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text"><strong>Year of Purchase:</strong> {{ post.year_of_purchase }}</p>
                <p class="card-text"><strong>Contact Number:</strong> {{ post.contact }}</p>
                <p class="card-text">{{ post.content }}</p>

                <!-- Delete Button -->
                <div style="justify-content: space-between;">
                  <button class="btn btn-secondary" disabled title="Coming soon...">Edit</button>
                  <button class="btn btn-danger" style="margin-left: 2%;" [disabled]="deleteBtnLoader" (click)="onDelete_market(i)">Delete <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="deleteBtnLoader"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        
        <!-- Infinite Scroll -->
        <!-- <div (scroll)="onScroll()" style="height: 200px; overflow-y: scroll;">
        </div> -->
      </div>
      <div *ngIf="marketListingLoader" style="height: 300px;" class="text-center mt-3">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <ng-template #noData2Message>
        <div class="text-center mt-3" *ngIf="!marketListingLoader">
          <h5>No market listings found.</h5>
        </div>
      </ng-template>
    </div>
  </div>