<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <!-- scrollable-list.component.html -->
<!-- post.component.html -->
<div class="data-container" (scroll)="onScroll()">
    <div *ngFor="let item of data" class="data-item">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card">
                        <img class="card-img-top" src="URL_TO_USER_PICTURE" alt="User Picture">
                        <div class="card-body">
                            <h5 class="card-title">User ID: {{ userId }}</h5>
                            <p class="card-text">{{ description }}</p>
                            <button class="btn btn-primary">Discussion Box</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

      

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


