// body {
//     font-family: Arial, sans-serif;
//     margin: 0;
//     padding: 0;
//     background-color: #f1f1f1;
// }
// #post-bar{
//     background-color: rgb(184, 19, 27);
// }
.dropdown-container {
    position: fixed;
    top: 60px;
    left: 80%; /* Adjust this to change the position to the right */
    width: 10%; /* Adjust the width of the dropdown-container */
    z-index: 1;
    
}
// form {
//     margin: 3% !important;
// }
#dropdown-button {
    width: 100%; /* Adjust the width when hovering */
    height: 20%;
    text-align: center;
}
#dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px; /* Increase the min-width to make it wider */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    border-radius: 1cm;
    background-color: rgb(247, 244, 243);
}
#name,#picture,#address,#description{
    width: 100%;
    margin: auto;
    border-radius: 10px;
    // background-color: rgb(209, 188, 179);
}
#name, #address:hover{
    margin: auto;
    border-radius: 10px;
    background-color: #f9f9f9;
}
#picture:hover{

    margin: auto;
    border-radius: 10px;
    background-color: #f9f9f9;
}
#description:hover{
    margin: auto;
    border-radius: 10px;
    background-color: #f9f9f9;
}
#place_button{
align-self: center;
size: 10px;
width:100px;
margin-left: 100px;
}
.dropdown-content {
    display: none;
    position: absolute;
    // background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    border-radius: 1cm;
    background-color: rgb(247, 244, 243);
}
.custom-select{
    background-color: rgb(168, 235, 230);
    height: 100%;
    width: 100%;
}
.custom-select:hover{
    background-color: rgb(211, 235, 233);
}

